/* "input-animated" class refers to input where text moves/changes on focus */

:root {
    /*  MAIN COLOURS  */
      --primary-dark: black;
      --primary-light: #ffffff;
    
    /*  STATUS COLOURS  */
      --success: #FF3366;
      --default: #D6EDFF;
    }
    
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    body {  
      background: var(--primary-dark);
      font-family: Arial, Helvetica, sans-serif; 
	    font-size: large;
      display: flex;
      justify-content: center;
    }

    .vertical-center {
      min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
      min-height: 100vh; /* These two lines are counted as one :-)       */
    
      display: flex;
      align-items: center;
    }
    
    .Form {
      display: block;
      margin-top: 1rem;
      overflow: hidden;
    }
    
    .Form div {
      position: relative;
    }
    
    input,
    textarea {
      background-color: transparent;
    }
    
    .imgcontainer {
      text-align: center;
    }
    
    img.alt {
      width: 40%;
      height: 30%;
      border-radius: 20%;
    }
    
    
    .Form .input-animated input {
      display: block;
      border: none;
      padding: 1.25rem 1rem 0.75rem 1rem;
      margin-bottom: 1rem;
      width: 100%;
      outline: none;
    }
    
    .Form .input-animated input::placeholder {
      color: transparent;
    }
    
    .Form .input-animated input,
    .Form .input-animated label {
      color: var(--primary-light);
    }
    
    .Form .input-animated label {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      border-bottom: 1px solid var(--primary-light);
    }
    
    
    .Form .input-animated label:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      border-bottom: 2px solid var(--primary-light);
      left: 0px;
      bottom: -2px;
      transform: translateX(-100%);
      transition: transform 0.3s ease;
    }
    
    .Form .input-animated label span {
      position: absolute;
      bottom: .5rem;
      left: 0;
      transition: all 0.3s ease;
    }
    
    /* + only works for adjacent elements below the initial element */
    .Form .input-animated input:not(:placeholder-shown) + label:after,
    .Form textarea:not(:placeholder-shown) {
      border-color: var(--success);
    }
    
    .Form .input-animated input:not(:placeholder-shown) + .label-name .content-name,
    .Form .input-animated input:not(:placeholder-shown) + .label-email .content-email{
      color: var(--success);
    }
    
    .Form .input-animated input:valid + .label-name .content-name,
    .Form .input-animated input:valid + .label-email .content-email{
      color: var(--success);
    }
    
    .Form .input-animated input:valid + label:after,
    .Form textarea:valid  {
      border-color: var(--success);
    }
    
    
    .Form .input-animated input:focus + label span, 
    .Form .input-animated input:valid + label span,
    .Form .input-animated input:not(:placeholder-shown) + label span {
      transform: translateY(-150%);   
      font-size: .75rem;
    }
    
    .Form .input-animated input:focus + label:after, .Form input:valid + label:after, .Form input:not(:placeholder-shown) + label:after{
      transform: translateX(0%);
    }
    
    .Form input:invalid {
      box-shadow: none;
    }
    
    